/* Home.css */

.container {
  display: flex;
  flex-direction: column; /* 추가: 수직으로 정렬 */
  align-items: center;
  padding: 20px;
}

.gif-container {
  display: flex;
  justify-content: center;
}

.gif {
  width: 69%;
}

.category-cards {
  display: flex;
  flex-direction: column; /* 추가: 수직으로 정렬 */
  align-items: center; /* 추가: 카드들을 가운데 정렬 */
}

.category-card {
  cursor: pointer;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; /* 추가: 카드들 사이에 간격 */
}

.category-card:hover {
  transform: scale(1.05);
}
